.schedule {
  display: flex;
  border: 1px solid #f3a610;
}

.tbody {
  border: 1px solid #f3a610;
}

.lesson {
  border: 1px solid #f3a610;
  color: black;
}
.activeLesson {
  background-color: #00ff00; /* Змініть цей колір на той, який вам потрібно */
  color: #ffffff; /* Колір тексту для активної ячейки */
}

.splitLesson {
  /* Стилізація контейнера для поділених уроків */
  display: flex;
  flex-direction: column;
}

.lessonGroup {
  /* Стилізація окремої частини поділеного уроку */
  flex: 1; /* Розподіл простору між частинами уроку */
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc; /* Рамка між частинами (за бажанням) */
  padding: 4px; /* Відступ для кращого вигляду */
  color: #007bff; /* Задайте бажаний колір тексту */
  font-weight: bold;
  font-size: 16px;
}

/* global.css */
a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  font-size: 12px;
}

a:hover {
  text-decoration: underline;
  color: #f700ff;
}
body {
  font-size: 14px; /* Змініть розмір шрифту за потребою */
}
