.App {
  min-width: 100vw;
  text-align: center;
}

/* Загальні стилі для контейнера */
.container {
  max-width: 100%; /* Максимальна ширина контейнера */
  margin: 0 auto; /* Центрування контейнера на сторінці */
  padding: 20px; /* Відступи від країв контейнера */
  box-sizing: border-box; /* Врахувати padding і border в обчисленнях розміру */
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .productCard {
    width: 448px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .productCard {
    width: 288px;
    height: 100%;
    padding: 5px;
  }
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
